//-footer
mj-section(padding="10px 20px 0 20px" background-color="#1b1b1b")
    //- Icons
    mj-group(width="50%")
        mj-column
            mj-image(width="200px" src="https://i.ibb.co/K0myL1q/temps.png")
            mj-text(padding-top="0" padding-left="10px" padding-right="10px" align="center" font-family="Univers, Arial, Helvetica, sans-serif" font-size="13px" font-weight="normal" line-height="18px" color="#f2f2f2") Vos colis chez vous en 24 heures
        mj-column
            mj-image(width="200px" src="https://i.ibb.co/N61FcCf/livraison.png")
            mj-text(padding-top="0" padding-left="10px" padding-right="10px" align="center" font-family="Univers, Arial, Helvetica, sans-serif" font-size="13px" font-weight="normal" line-height="18px" color="#f2f2f2") Livraison à domicile et en Point Relais
    mj-group(width="50%")
        mj-column
            mj-image(width="200px" src="https://i.ibb.co/7299VyM/panier.png")
            mj-text(padding-top="0" padding-left="10px" padding-right="10px" align="center" font-family="Univers, Arial, Helvetica, sans-serif" font-size="13px" font-weight="normal" line-height="18px" color="#f2f2f2") + de 8000 produits en ligne
        mj-column
            mj-image(width="200px" src="https://i.ibb.co/Tg4PLgs/paiement.png")
            mj-text(padding-top='0' padding-left="10px" padding-right="10px" align="center" font-family="Univers, Arial, Helvetica, sans-serif" font-size="13px" font-weight="normal" line-height="18px" color="#f2f2f2") Paiement par CB, Paypal, Chèque ou virement
    //- Address
    mj-column(width="100%")
        mj-text(padding="20px 0" align="center" font-family="Univers, Arial, Helvetica, sans-serif" font-size="16px" font-weight="bold" line-height="19px" color="#fe8a00") Contactez-nous
        mj-text(padding-top="0" padding-bottom="0" align="center" font-family="Univers, Arial, Helvetica, sans-serif" font-size="14px" font-weight="normal" line-height="20px" color="#f2f2f2") 246 rue du Général Leclerc 45240 La Ferté Saint Aubin FR
        mj-text(padding-top="0" padding-bottom="0" align="center" font-family="Univers, Arial, Helvetica, sans-serif" font-size="14px" font-weight="normal" line-height="20px" color="#f2f2f2") 02.38.76.52.78 - contact@legeantdelafete.com
        mj-text(padding-top="0" padding-bottom="0" align="center" font-family="Univers, Arial, Helvetica, sans-serif" font-size="14px" font-weight="normal" line-height="20px") #[a(style="color:#f2f2f2;" href="#" target="_blank") www.legeantdelafete.com]
        mj-text(padding-top="0" padding-bottom="0" align="center" font-family="Univers, Arial, Helvetica, sans-serif" font-size="14px" font-weight="normal" line-height="20px" color="#e6e6e6") WEB : Du lundi au vendredi de 9h à 12h15 de 13h à 17h30
        mj-text(padding-top="0" padding-bottom="0" align="center" font-family="Univers, Arial, Helvetica, sans-serif" font-size="14px" font-weight="normal" line-height="20px" color="#e6e6e6") Magasin : Du mardi au vendredi de 9h à 12h30 - 14h à 19h et samedi de 9h à 18h
        mj-spacer(height="20px")
        mj-text(align="center" font-family="Arial, Helvetica, sans-serif" font-size="10px" font-weight="normal" line-height="13px") #[a(style="color:#707070" href="#" target="_blank") Cliquez ici pour vous désinscrire]
        mj-spacer(height="20px")