//- Offre principale
mj-section(padding="0")
    mj-column(width="100%")
        mj-image(padding='0' width="600px" src="https://i.ibb.co/BPGCrpG/catalogues-24-header.jpg")
mj-section(padding='0' background-color="#1b1b1b")
    mj-column(padding="12.8px")
        mj-text(padding="0" align="center" color="#ffffff") 
            h1(style="margin:0;font-family:Univers, Arial, Helvetica, sans-serif;font-size:30px;font-weight:bold;letter-spacing:2px;line-height:34px") Le catalogue pour réussir
            h1(style="margin:0;font-family:Univers, Arial, Helvetica, sans-serif;font-size:30px;font-weight:bold;letter-spacing:2px;line-height:34px") votre Halloween
mj-section(padding="0" background-color="#ffffff") 
    mj-column(padding="0px 25px")
        mj-text(padding="16px 0 0 0" align="center" font-family="Univers, Arial, Helvetica, sans-serif" font-size="15px" font-weight="normal" line-height="18px" color="#1b1b1b") Sortez vos sorcières, vos toiles d'araignée, vos citrouilles et vos squelettes du placard pour la plus terrifiante et la plus amusante des soirées de l'année. Les nombreuses nouveautés et les incontournables d'Halloween sont à (re)découvrir en feuilletant #[span(style="font-weight:bold;color:#fe8a00") notre nouveau Catalogue 2024 "Halloween"].
        mj-text(padding="16px 0 0 0" align="center" font-family="Univers, Arial, Helvetica, sans-serif" font-size="15px" font-weight="normal" line-height="18px" color="#1b1b1b") #[span(style="font-weight:bold;color:#fe8a00") Le catalogue d'Halloween], rassemble également de nombreux accessoires de déguisements (masques, chapeaux, perruques ou maquillage) et une large gamme de confiseries. Ainsi les petits monstres de passage n'auront pas à dévorer vos administrés et clients ! 
        mj-button(padding="20px 0" background-color="#fe8a00" inner-padding="8px 14px" border="1px" border-radius="25px" font-family="Arial, Helvetica, sans-serif" font-size="18px" font-weight="bold" line-height="140%" color="#1b1b1b" href="#" target="_blank") Feuilletez le catalogue