//- Offre complémentaire
mj-section(padding="0" background-color="#ffffff")
    mj-column(width="100%")
        mj-text(padding="10px 5px" font-family="Univers, Arial, Helvetica, sans-serif" font-size="11px" font-weight="normal" line-height="14px" color="#1b1b1b") Tarif TTC 2024 pouvant varier : merci de se fier aux tarifs et disponibilités du site.
        mj-image(padding="0" width="600px" src="https://i.ibb.co/pfrqBf6/tous-catalogue.jpg")
mj-section(padding="0")
    mj-column(padding="0 20px" background-color="#ffed74")
        mj-text(padding="16px 0 0 0" font-family="Univers, Arial, Helvetica, sans-serif" font-size="14px" font-weight="bold" line-height="17px" color="#1b1b1b") Une team à votre service :
        mj-text(padding="0" font-family="Univers, Arial, Helvetica, sans-serif" font-size="14px" font-weight="normal" line-height="17px" color="#1b1b1b") Depuis 1951, Le Géant de La Fête - Ets Bellier est au service des associations, des collectivités et des particuliers pour organiser vos fêtes : mariages, anniversaires, baptêmes, animations en EHPAD, kermesses, compétitions sportives, Halloween, Nouvel An...
        mj-text(padding="16px 0 8px 0" font-family="Univers, Arial, Helvetica, sans-serif" font-size="14px" font-weight="normal" line-height="17px" color="#1b1b1b") #[span(style="font-weight:bold;") Sachez le :] Nous avons l'habitude de travailler avec les collectivités et les maisons de retraites qui règlent en différé sur facture ou via Chorus. Donc ce mode de réglement vous est directement proposé sur le site. C'est simple et rapide !! Si vous préférez, envoyez-nous votre bon de commande et on s'occupe de tout ! Nous acceptons également les règlements par chèque ou virement bancaire (en plus de la carte et Paypal). Attention, nous ne réservons pas les produits tant que la commande n'est pas facturée.
    