extends templates/_layout
//- content
block content
    //- Header Text
    mj-section(padding="0")
        mj-column
            mj-text(align="center" font-family="Arial, Helvetica, sans-serif" font-size="10px" font-weight="normal" line-height="13px") #[a(style="color:#707070" href="#" target="_blank") Cliquez ici pour lire le message en ligne]&nbsp;|&nbsp;#[a(style="color:#707070" href="#" target="_bkank") Cliquez ici pour vous désinscrire]